@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @theme {
  --font-mont: "Montserrat", sans-serif;
} */

.menu {
  @apply text-base font-semibold text-[#333333] ;
}
.menu:hover {
  @apply  text-[#054C73] duration-300 ease-in-out;
}
