@import "tailwindcss";


@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

.menu {
  @apply text-base font-semibold font-montserrat text-[#333333] ;
}
.menu:hover {
  @apply  text-[#054C73] duration-300 ease-in-out;
}
